body{ 
    margin:0;
}


/*This part of the navbar manages the background and font*/
.topnav {
  overflow: hidden;
  background-color: #743A27;   
    font-family: 'Yantramanav';
}

/*This is the code for the links for the navbar*/
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 20px;
  float: right;
}

/*This is the colouring for when you hover your cursor over the navbar links*/
.topnav a:hover {
  background-color: #dfdcd1;
  color: black;
  float: right;
}

/*Styles for the header such as the size, colour, padding, and positioning*/

.cafeheader{
color: #f2f2f2;
font-family: 'Asul';
margin:0%;
padding: auto;
font-size: 35px;
padding-right: 1000px;
padding-bottom: 27px;
padding-left: 60px;
float: left;
width: 100%;
}

/*background colours for h1*/
h1 {
color: #dfdcd1;
background-color: #743A27; 
}

/*styles for the columns*/
h2 {
color: #dfdcd1;
padding-left: 110px;
font-family: 'Buda';
}

/*styles for the header on the about page*/
#aboutheader {
color: #dfdcd1;
padding-left: 0px;
font-family: 'Buda';
}


*{box-sizing: border-box;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* the styling for the items on my menu*/
#itema {
color: #dfdcd1;
padding-left: 100px;
padding-top: 80px;
font-family: 'Be Vietnam';
}

/* the styling for the costs on my menu*/
#costa {
color: #dfdcd1;
padding-right:10%;
padding-top: 80px;
font-family: 'Be Vietnam';
word-spacing: 20em;
}

/*css that changes the styles on the about us tags*/
#aboutus {
color: #dfdcd1;
padding-left: 20px;
padding-top: 80px;
font-family: 'Be Vietnam';
margin-bottom: 30px;
}

/*styles for the left column with the menu on it, float left makes it go left, and width makes the column take up 50% of webpage*/
.column {
float: left;
width: 50%;
padding:0%;
margin: 0px;
}

/*styles for the leftrightcolumn with the menu on it, float right makes it go right, and width makes the column take up 50% of webpage, the padding adds gaps underneath the column*/
.columnb {
float: left;
width: 100%;
padding:0%;
padding-bottom: 20px;
padding-left: 40px;
margin: 0px;
}
.row:after {
content: "";
display: table;
clear: both;
}
